In [1]:
#import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Data loading
csv_file = 'mfa4_export.csv'
df = pd.read_csv(csv_file)
df

,Country,Category,Flow name,Flow code,Flow unit,1970,1971,1972,1973,1974,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,Biomass,Domestic Extraction,DE,t,29427854.0,28777035.0,27200896.0,29147772.0,30519158.0,...,37406375.0,37961488.0,35542253.0,33625557.0,39501360.0,41190154.0,37576686.0,37891437.0,38353304.0,38628527.0
1,Afghanistan,Biomass,Domestic Material Consumption,DMC,t,29476560.0,29136965.0,27290656.0,29112673.0,30433539.0,...,40423146.0,41655757.0,40992559.0,38552083.0,43433438.0,45294467.0,39730808.0,40083922.0,40596386.0,40905900.0
2,Afghanistan,Biomass,Domestic Material Input,DMI,t,29617873.0,29282898.0,27485608.0,29306247.0,30656605.0,...,40740301.0,42111457.0,41553874.0,39515927.0,44428717.0,46059807.0,40992155.0,41370148.0,41905797.0,42238460.0
3,Afghanistan,Biomass,Exports,EXP,t,141313.0,145933.0,194952.0,193574.0,223066.0,...,317155.0,455700.0,561315.0,963844.0,995279.0,765341.0,1261347.0,1286226.0,1309411.0,1332559.0
4,Afghanistan,Biomass,Imports,IMP,t,190019.0,505863.0,284712.0,158475.0,137447.0,...,3333926.0,4149969.0,6011621.0,5890371.0,4927357.0,4869653.0,3415470.0,3478710.0,3552492.0,3609933.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15571,Zimbabwe,Waste for final treatment and disposal,Domestic Material Consumption,DMC,t,0.0,0.0,0.0,0.0,0.0,...,134.0,-153.0,-911.0,125.0,137.0,137.0,140.0,144.0,140.0,148.0
15572,Zimbabwe,Waste for final treatment and disposal,Domestic Material Input,DMI,t,0.0,0.0,0.0,0.0,0.0,...,690.0,540.0,236.0,379.0,436.0,425.0,442.0,453.0,456.0,471.0
15573,Zimbabwe,Waste for final treatment and disposal,Exports,EXP,t,0.0,0.0,0.0,0.0,0.0,...,555.0,693.0,1147.0,254.0,299.0,289.0,302.0,309.0,316.0,323.0
15574,Zimbabwe,Waste for final treatment and disposal,Imports,IMP,t,0.0,0.0,0.0,0.0,0.0,...,690.0,540.0,236.0,379.0,436.0,425.0,442.0,453.0,456.0,471.0
15575,Zimbabwe,Waste for final treatment and disposal,Physical Trade Balance,PTB,t,0.0,0.0,0.0,0.0,0.0,...,134.0,-153.0,-911.0,125.0,137.0,137.0,140.0,144.0,140.0,148.0

In [3]:
#Data overview
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15576 entries, 0 to 15575
Data columns (total 60 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    15576 non-null  object
 1   Category   15576 non-null  object
 2   Flow name  15576 non-null  object
 3   Flow code  15576 non-null  object
 4   Flow unit  15576 non-null  object
 5   1970       13889 non-null  float64
 6   1971       13889 non-null  float64
 7   1972       13889 non-null  float64
 8   1973       13889 non-null  float64
 9   1974       13889 non-null  float64
 10  1975       13889 non-null  float64
 11  1976       13889 non-null  float64
 12  1977       13889 non-null  float64
 13  1978       13889 non-null  float64
 14  1979       13889 non-null  float64
 15  1980       13889 non-null  float64
 16  1981       13889 non-null  float64
 17  1982       13889 non-null  float64
 18  1983       13889 non-null  float64
 19  1984       13889 non-null  float64
 20  1985       13889 non-null  float64
 21  1986       13889 non-null  float64
 22  1987       13889 non-null  float64
 23  1988       13889 non-null  float64
 24  1989       13889 non-null  float64
 25  1990       13889 non-null  float64
 26  1991       13889 non-null  float64
 27  1992       15162 non-null  float64
 28  1993       15233 non-null  float64
 29  1994       15233 non-null  float64
 30  1995       15233 non-null  float64
 31  1996       15233 non-null  float64
 32  1997       15233 non-null  float64
 33  1998       15233 non-null  float64
 34  1999       15233 non-null  float64
 35  2000       15233 non-null  float64
 36  2001       15233 non-null  float64
 37  2002       15233 non-null  float64
 38  2003       15233 non-null  float64
 39  2004       15233 non-null  float64
 40  2005       15233 non-null  float64
 41  2006       15292 non-null  float64
 42  2007       15292 non-null  float64
 43  2008       15292 non-null  float64
 44  2009       15292 non-null  float64
 45  2010       15292 non-null  float64
 46  2011       15292 non-null  float64
 47  2012       15292 non-null  float64
 48  2013       15292 non-null  float64
 49  2014       15292 non-null  float64
 50  2015       15292 non-null  float64
 51  2016       15292 non-null  float64
 52  2017       15292 non-null  float64
 53  2018       15292 non-null  float64
 54  2019       15292 non-null  float64
 55  2020       15292 non-null  float64
 56  2021       15292 non-null  float64
 57  2022       15292 non-null  float64
 58  2023       15292 non-null  float64
 59  2024       15292 non-null  float64
dtypes: float64(55), object(5)
memory usage: 7.1+ MB

In [4]:
df.shape

(15576, 60)

In [5]:
df.describe(include='all')

,Country,Category,Flow name,Flow code,Flow unit,1970,1971,1972,1973,1974,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
count,15576,15576,15576,15576,15576,1.388900e+04,1.388900e+04,1.388900e+04,1.388900e+04,1.388900e+04,...,1.529200e+04,1.529200e+04,1.529200e+04,1.529200e+04,1.529200e+04,1.529200e+04,1.529200e+04,1.529200e+04,1.529200e+04,1.529200e+04
unique,249,11,9,9,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Afghanistan,Biomass,Domestic Material Consumption,DMC,t,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,71,1988,2561,2561,15576,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,3.155150e+07,3.258498e+07,3.345727e+07,3.580459e+07,3.592937e+07,...,9.093505e+07,9.206333e+07,9.374277e+07,9.477254e+07,9.637357e+07,9.507737e+07,9.918244e+07,1.004309e+08,1.025544e+08,1.050843e+08
std,NaN,NaN,NaN,NaN,NaN,3.398472e+08,3.509376e+08,3.575757e+08,3.797128e+08,3.802779e+08,...,1.100628e+09,1.121993e+09,1.122364e+09,1.128339e+09,1.156348e+09,1.161721e+09,1.207926e+09,1.233702e+09,1.267398e+09,1.307201e+09
min,NaN,NaN,NaN,NaN,NaN,-6.716438e+08,-7.058739e+08,-7.531672e+08,-6.816490e+08,-7.070100e+08,...,-8.939745e+08,-9.542070e+08,-9.031511e+08,-9.096478e+08,-9.147736e+08,-8.965990e+08,-9.392849e+08,-9.631006e+08,-9.925229e+08,-1.023785e+09
25%,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,3.400000e+01,6.200000e+01,6.100000e+01,1.120000e+02,7.100000e+01,6.275000e+01,7.925000e+01,8.275000e+01,8.500000e+01,8.900000e+01
50%,NaN,NaN,NaN,NaN,NaN,8.940000e+03,8.620000e+03,1.000000e+04,1.148300e+04,1.368300e+04,...,3.168320e+05,3.484105e+05,3.527430e+05,3.644360e+05,3.330980e+05,3.185400e+05,3.365620e+05,3.419580e+05,3.502270e+05,3.587670e+05
75%,NaN,NaN,NaN,NaN,NaN,7.850040e+05,8.274050e+05,8.847620e+05,1.005000e+06,1.081766e+06,...,5.933155e+06,5.995828e+06,6.429596e+06,6.400233e+06,6.615504e+06,6.287756e+06,6.544899e+06,6.638302e+06,6.740079e+06,6.882891e+06
max,NaN,NaN,NaN,NaN,NaN,1.312257e+10,1.336628e+10,1.334597e+10,1.402105e+10,1.412442e+10,...,4.394271e+10,4.493246e+10,4.449126e+10,4.502714e+10,4.620053e+10,4.654874e+10,4.876062e+10,5.026979e+10,5.197282e+10,5.395910e+10

In [6]:
df.columns

Index(['Country', 'Category', 'Flow name', 'Flow code', 'Flow unit', '1970',
       '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
       '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024'],
      dtype='object')

In [7]:
df.columns.tolist()

['Country',
 'Category',
 'Flow name',
 'Flow code',
 'Flow unit',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2023',
 '2024']

In [8]:
year_cols = [c for c in df.columns if c.isdigit()]
year_cols

['1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2023',
 '2024']

In [17]:
df['Country'].value_counts()

Country
Afghanistan                       71
Africa                            71
Albania                           71
Algeria                           71
Angola                            71
                                  ..
Norfolk Island                    11
Sint Maarten                       7
Christmas Island                   7
British Indian Ocean Territory     3
Monaco                             3
Name: count, Length: 249, dtype: int64

In [ ]:
#Extract data for Indonesia
df_indo = df[df['Country'] == 'Indonesia'].copy()
df_indo

,Country,Category,Flow name,Flow code,Flow unit,1970,1971,1972,1973,1974,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
6291,Indonesia,Biomass,Domestic Extraction,DE,t,303722628.0,310180900.0,308554892.0,320955700.0,325473002.0,...,959352667.0,9.792402e+08,1.117847e+09,1.140305e+09,1.099874e+09,1.128501e+09,1.137877e+09,1.170404e+09,1.208035e+09,1.245140e+09
6292,Indonesia,Biomass,Domestic Material Consumption,DMC,t,297595663.0,301374976.0,298520454.0,308839628.0,313317543.0,...,933677570.0,9.624759e+08,1.091764e+09,1.118812e+09,1.075626e+09,1.102175e+09,1.112869e+09,1.144885e+09,1.182138e+09,1.218854e+09
6293,Indonesia,Biomass,Domestic Material Input,DMI,t,305335559.0,311320612.0,310024294.0,324088988.0,327811727.0,...,989168206.0,1.012912e+09,1.150967e+09,1.178197e+09,1.135947e+09,1.163256e+09,1.174788e+09,1.208317e+09,1.247094e+09,1.285324e+09
6294,Indonesia,Biomass,Exports,EXP,t,7739896.0,9945636.0,11503840.0,15249360.0,14494184.0,...,55490637.0,5.043632e+07,5.920353e+07,5.938490e+07,6.032141e+07,6.108143e+07,6.191926e+07,6.343148e+07,6.495548e+07,6.647008e+07
6295,Indonesia,Biomass,Imports,IMP,t,1612931.0,1139712.0,1469402.0,3133288.0,2338725.0,...,29815539.0,3.367205e+07,3.311982e+07,3.789137e+07,3.607382e+07,3.475477e+07,3.691102e+07,3.791245e+07,3.905904e+07,4.018346e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6357,Indonesia,Waste for final treatment and disposal,Domestic Material Consumption,DMC,t,1144.0,0.0,0.0,754.0,1133.0,...,-46424.0,-5.729100e+04,-4.588400e+04,-2.196600e+04,-1.956000e+04,-1.906000e+04,-1.964500e+04,-1.966900e+04,-1.956800e+04,-1.942700e+04
6358,Indonesia,Waste for final treatment and disposal,Domestic Material Input,DMI,t,1144.0,0.0,0.0,754.0,1133.0,...,402.0,9.600000e+01,5.960000e+02,6.613000e+03,2.310600e+04,2.280400e+04,2.320000e+04,2.386300e+04,2.464500e+04,2.541700e+04
6359,Indonesia,Waste for final treatment and disposal,Exports,EXP,t,0.0,0.0,0.0,0.0,0.0,...,46825.0,5.738800e+04,4.648000e+04,2.858000e+04,4.266600e+04,4.186300e+04,4.284400e+04,4.353200e+04,4.421300e+04,4.484500e+04
6360,Indonesia,Waste for final treatment and disposal,Imports,IMP,t,1144.0,0.0,0.0,754.0,1133.0,...,402.0,9.600000e+01,5.960000e+02,6.613000e+03,2.310600e+04,2.280400e+04,2.320000e+04,2.386300e+04,2.464500e+04,2.541700e+04
6361,Indonesia,Waste for final treatment and disposal,Physical Trade Balance,PTB,t,1144.0,0.0,0.0,754.0,1133.0,...,-46424.0,-5.729100e+04,-4.588400e+04,-2.196600e+04,-1.956000e+04,-1.906000e+04,-1.964500e+04,-1.966900e+04,-1.956800e+04,-1.942700e+04

In [ ]:
#Get unique categories in Indonesia data
category = set(df_indo['Category'])
category

{'Biomass',
 'Excavated earthen materials (including soil) nec',
 'Fossil fuels',
 'Metal ores',
 'Mixed and complex products nec.',
 'Non-metallic minerals',
 'Products from biomass',
 'Products from fossil fuels',
 'Products from metals',
 'Products from non-metallic minerals',
 'Waste for final treatment and disposal'}

In [25]:
#Extract export data for Indonesia
export_flow = df_indo[df_indo['Flow name']=='Exports']
export_flow

,Country,Category,Flow name,Flow code,Flow unit,1970,1971,1972,1973,1974,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
6294,Indonesia,Biomass,Exports,EXP,t,7739896.0,9945636.0,11503840.0,15249360.0,14494184.0,...,55490637.0,50436324.0,59203529.0,59384899.0,60321414.0,61081433.0,61919256.0,63431481.0,64955485.0,66470076.0
6302,Indonesia,Excavated earthen materials (including soil) nec,Exports,EXP,t,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6308,Indonesia,Fossil fuels,Exports,EXP,t,29916000.0,32416000.0,40705000.0,49438000.0,54635000.0,...,395988648.0,399768251.0,416994227.0,453920532.0,473269611.0,426075538.0,435162247.0,439291061.0,443147364.0,446522566.0
6317,Indonesia,Metal ores,Exports,EXP,t,1344049.0,1266928.0,1369362.0,1194952.0,1648739.0,...,8636891.0,9996955.0,15186916.0,37056912.0,58612456.0,57576474.0,60948168.0,62818172.0,64901578.0,67039254.0
6325,Indonesia,Mixed and complex products nec.,Exports,EXP,t,438.0,4180.0,3477.0,10206.0,6898.0,...,2942619.0,2959367.0,25580185.0,23678099.0,24613925.0,24150688.0,24716598.0,25113225.0,25505929.0,25870643.0
6331,Indonesia,Non-metallic minerals,Exports,EXP,t,600.0,25.0,36.0,63.0,6.0,...,11440288.0,13695158.0,10565575.0,10433413.0,9531803.0,9375315.0,9794341.0,10236151.0,10660481.0,11068358.0
6339,Indonesia,Products from biomass,Exports,EXP,t,50638.0,56649.0,61849.0,62535.0,84796.0,...,11054780.0,11215206.0,11843079.0,14496598.0,12491198.0,12504712.0,13020700.0,13228667.0,13421730.0,13601549.0
6344,Indonesia,Products from fossil fuels,Exports,EXP,t,941000.0,1600000.0,4564000.0,5536000.0,4770000.0,...,5024175.0,5050957.0,4626198.0,4664058.0,4856577.0,4186215.0,4214418.0,4232285.0,4259060.0,4245749.0
6349,Indonesia,Products from metals,Exports,EXP,t,0.0,201.0,1289.0,0.0,15.0,...,1356978.0,1501060.0,1368371.0,1399511.0,1553184.0,1535915.0,1590821.0,1620770.0,1653785.0,1687249.0
6354,Indonesia,Products from non-metallic minerals,Exports,EXP,t,0.0,10.0,4.0,8.0,2202.0,...,8171999.0,10026001.0,10856860.0,15580858.0,16622832.0,16460715.0,16900223.0,17355183.0,17783658.0,18188206.0
6359,Indonesia,Waste for final treatment and disposal,Exports,EXP,t,0.0,0.0,0.0,0.0,0.0,...,46825.0,57388.0,46480.0,28580.0,42666.0,41863.0,42844.0,43532.0,44213.0,44845.0

In [18]:
import_flow = df_indo[df_indo['Flow name']=='Imports']
import_flow

,Country,Category,Flow name,Flow code,Flow unit,1970,1971,1972,1973,1974,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
6295,Indonesia,Biomass,Imports,IMP,t,1612931.0,1139712.0,1469402.0,3133288.0,2338725.0,...,29815539.0,33672048.0,33119822.0,37891367.0,36073822.0,34754772.0,36911023.0,37912450.0,39059040.0,40183464.0
6303,Indonesia,Excavated earthen materials (including soil) nec,Imports,IMP,t,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6309,Indonesia,Fossil fuels,Imports,IMP,t,0.0,16000.0,283000.0,201000.0,269000.0,...,21543000.0,23979894.0,22665884.0,22833242.0,19132487.0,23611557.0,23914947.0,24529419.0,25255985.0,25957529.0
6318,Indonesia,Metal ores,Imports,IMP,t,237442.0,191393.0,303008.0,1034715.0,1287720.0,...,18994985.0,19696044.0,15844699.0,16841552.0,17894332.0,17675348.0,18099024.0,18909021.0,19848020.0,20787350.0
6326,Indonesia,Mixed and complex products nec.,Imports,IMP,t,27807.0,31805.0,44934.0,69788.0,85188.0,...,12504245.0,11997729.0,48487613.0,55571162.0,47818363.0,47192345.0,48011984.0,49384758.0,51002873.0,52601584.0
6332,Indonesia,Non-metallic minerals,Imports,IMP,t,872292.0,476171.0,638364.0,752202.0,1372391.0,...,14142501.0,14965696.0,15694753.0,16258202.0,14472946.0,14505863.0,14923688.0,15804550.0,16891870.0,18003118.0
6340,Indonesia,Products from biomass,Imports,IMP,t,85670.0,93018.0,87737.0,137572.0,143977.0,...,3182753.0,3867271.0,4505946.0,4771894.0,4929046.0,4689795.0,4704311.0,4832835.0,4983993.0,5133263.0
6345,Indonesia,Products from fossil fuels,Imports,IMP,t,450720.0,887473.0,1160697.0,1321139.0,1587538.0,...,36904022.0,33287036.0,36589758.0,36677185.0,32855339.0,26757749.0,27147643.0,27626680.0,28177727.0,28715742.0
6350,Indonesia,Products from metals,Imports,IMP,t,249875.0,195376.0,228153.0,450612.0,423773.0,...,3755063.0,4240514.0,3955656.0,4657144.0,4545048.0,4472698.0,4544309.0,4613386.0,4688268.0,4761007.0
6355,Indonesia,Products from non-metallic minerals,Imports,IMP,t,1768659.0,1069384.0,1428644.0,1843203.0,2170848.0,...,13941971.0,11036511.0,9926073.0,11284773.0,11746512.0,11783682.0,12075547.0,12696903.0,13462406.0,14241237.0
6360,Indonesia,Waste for final treatment and disposal,Imports,IMP,t,1144.0,0.0,0.0,754.0,1133.0,...,402.0,96.0,596.0,6613.0,23106.0,22804.0,23200.0,23863.0,24645.0,25417.0

In [23]:
fossil = df_indo[df_indo['Category']=='Fossil fuels'] 
fossil

,Country,Category,Flow name,Flow code,Flow unit,1970,1971,1972,1973,1974,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
6305,Indonesia,Fossil fuels,Domestic Extraction,DE,t,43665716.0,45724718.0,55123548.0,68254804.0,68857666.0,...,544567170.0,555307710.0,585830150.0,639555333.0,686304160.0,647466779.0,651430459.0,659087387.0,667038985.0,674147739.0
6306,Indonesia,Fossil fuels,Domestic Material Consumption,DMC,t,13749716.0,13324718.0,14701548.0,19017804.0,14491666.0,...,170121522.0,179519353.0,191501807.0,208468043.0,232167036.0,245002797.0,240183158.0,244325746.0,249147605.0,253582703.0
6307,Indonesia,Fossil fuels,Domestic Material Input,DMI,t,43665716.0,45740718.0,55406548.0,68455804.0,69126666.0,...,566110170.0,579287604.0,608496034.0,662388575.0,705436647.0,671078335.0,675345406.0,683616807.0,692294969.0,700105268.0
6308,Indonesia,Fossil fuels,Exports,EXP,t,29916000.0,32416000.0,40705000.0,49438000.0,54635000.0,...,395988648.0,399768251.0,416994227.0,453920532.0,473269611.0,426075538.0,435162247.0,439291061.0,443147364.0,446522566.0
6309,Indonesia,Fossil fuels,Imports,IMP,t,0.0,16000.0,283000.0,201000.0,269000.0,...,21543000.0,23979894.0,22665884.0,22833242.0,19132487.0,23611557.0,23914947.0,24529419.0,25255985.0,25957529.0
6310,Indonesia,Fossil fuels,Material Footprint (RMC),MF,t,18045962.0,19626271.0,21909220.0,29208602.0,38721620.0,...,240968623.0,251246626.0,257468074.0,275638052.0,279323836.0,248683937.0,253993048.0,254593900.0,260970408.0,265299552.0
6311,Indonesia,Fossil fuels,Physical Trade Balance,PTB,t,-29916000.0,-32400000.0,-40422000.0,-49237000.0,-54366000.0,...,-374445648.0,-375788357.0,-394328343.0,-431087290.0,-454137124.0,-402463981.0,-411247301.0,-414761642.0,-417891379.0,-420565037.0
6312,Indonesia,Fossil fuels,Raw Material Equivalents of exports,RME_EXP,t,42786945.0,44851570.0,54197983.0,66982805.0,67101466.0,...,394270751.0,395219132.0,420645829.0,459845750.0,503889391.0,483445302.0,493638691.0,458975395.0,455789347.0,453199251.0
6313,Indonesia,Fossil fuels,Raw Material Equivalents of imports,RME_IMP,t,17167191.0,18753123.0,20983654.0,27936603.0,36965419.0,...,90672204.0,91158049.0,92283752.0,95928469.0,96909067.0,84662461.0,96201280.0,94443238.0,98301684.0,100384166.0

In [27]:
fossil_import = import_flow[import_flow['Category']=='Fossil fuels'].copy()
fossil_import

,Country,Category,Flow name,Flow code,Flow unit,1970,1971,1972,1973,1974,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
6309,Indonesia,Fossil fuels,Imports,IMP,t,0.0,16000.0,283000.0,201000.0,269000.0,...,21543000.0,23979894.0,22665884.0,22833242.0,19132487.0,23611557.0,23914947.0,24529419.0,25255985.0,25957529.0

In [28]:
fossil_export = export_flow[export_flow['Category']=='Fossil fuels'].copy()
fossil_export

,Country,Category,Flow name,Flow code,Flow unit,1970,1971,1972,1973,1974,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
6308,Indonesia,Fossil fuels,Exports,EXP,t,29916000.0,32416000.0,40705000.0,49438000.0,54635000.0,...,395988648.0,399768251.0,416994227.0,453920532.0,473269611.0,426075538.0,435162247.0,439291061.0,443147364.0,446522566.0

In [12]:
df_indo.info

<bound method DataFrame.info of         Country                                Category  \
6291  Indonesia                                 Biomass
6292  Indonesia                                 Biomass
6293  Indonesia                                 Biomass
6294  Indonesia                                 Biomass
6295  Indonesia                                 Biomass
...         ...                                     ...
6357  Indonesia  Waste for final treatment and disposal
6358  Indonesia  Waste for final treatment and disposal
6359  Indonesia  Waste for final treatment and disposal
6360  Indonesia  Waste for final treatment and disposal
6361  Indonesia  Waste for final treatment and disposal

                          Flow name Flow code Flow unit         1970  \
6291            Domestic Extraction        DE         t  303722628.0
6292  Domestic Material Consumption       DMC         t  297595663.0
6293        Domestic Material Input       DMI         t  305335559.0
6294                        Exports       EXP         t    7739896.0
6295                        Imports       IMP         t    1612931.0
...                             ...       ...       ...          ...
6357  Domestic Material Consumption       DMC         t       1144.0
6358        Domestic Material Input       DMI         t       1144.0
6359                        Exports       EXP         t          0.0
6360                        Imports       IMP         t       1144.0
6361         Physical Trade Balance       PTB         t       1144.0

             1971         1972         1973         1974  ...         2015  \
6291  310180900.0  308554892.0  320955700.0  325473002.0  ...  959352667.0
6292  301374976.0  298520454.0  308839628.0  313317543.0  ...  933677570.0
6293  311320612.0  310024294.0  324088988.0  327811727.0  ...  989168206.0
6294    9945636.0   11503840.0   15249360.0   14494184.0  ...   55490637.0
6295    1139712.0    1469402.0    3133288.0    2338725.0  ...   29815539.0
...           ...          ...          ...          ...  ...          ...
6357          0.0          0.0        754.0       1133.0  ...     -46424.0
6358          0.0          0.0        754.0       1133.0  ...        402.0
6359          0.0          0.0          0.0          0.0  ...      46825.0
6360          0.0          0.0        754.0       1133.0  ...        402.0
6361          0.0          0.0        754.0       1133.0  ...     -46424.0

              2016          2017          2018          2019          2020  \
6291  9.792402e+08  1.117847e+09  1.140305e+09  1.099874e+09  1.128501e+09
6292  9.624759e+08  1.091764e+09  1.118812e+09  1.075626e+09  1.102175e+09
6293  1.012912e+09  1.150967e+09  1.178197e+09  1.135947e+09  1.163256e+09
6294  5.043632e+07  5.920353e+07  5.938490e+07  6.032141e+07  6.108143e+07
6295  3.367205e+07  3.311982e+07  3.789137e+07  3.607382e+07  3.475477e+07
...            ...           ...           ...           ...           ...
6357 -5.729100e+04 -4.588400e+04 -2.196600e+04 -1.956000e+04 -1.906000e+04
6358  9.600000e+01  5.960000e+02  6.613000e+03  2.310600e+04  2.280400e+04
6359  5.738800e+04  4.648000e+04  2.858000e+04  4.266600e+04  4.186300e+04
6360  9.600000e+01  5.960000e+02  6.613000e+03  2.310600e+04  2.280400e+04
6361 -5.729100e+04 -4.588400e+04 -2.196600e+04 -1.956000e+04 -1.906000e+04

              2021          2022          2023          2024
6291  1.137877e+09  1.170404e+09  1.208035e+09  1.245140e+09
6292  1.112869e+09  1.144885e+09  1.182138e+09  1.218854e+09
6293  1.174788e+09  1.208317e+09  1.247094e+09  1.285324e+09
6294  6.191926e+07  6.343148e+07  6.495548e+07  6.647008e+07
6295  3.691102e+07  3.791245e+07  3.905904e+07  4.018346e+07
...            ...           ...           ...           ...
6357 -1.964500e+04 -1.966900e+04 -1.956800e+04 -1.942700e+04
6358  2.320000e+04  2.386300e+04  2.464500e+04  2.541700e+04
6359  4.284400e+04  4.353200e+04  4.421300e+04  4.484500e+04
6360  2.320000e+04  2.386300e+04  2.464500e+04  2.541700e+04
6361 -1.964500e+04 -1.966900e+04 -1.956800e+04 -1.942700e+04

[71 rows x 60 columns]>

In [13]:
df_indo.describe(include='all')

,Country,Category,Flow name,Flow code,Flow unit,1970,1971,1972,1973,1974,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
count,71,71,71,71,71,7.100000e+01,7.100000e+01,7.100000e+01,7.100000e+01,7.100000e+01,...,7.100000e+01,7.100000e+01,7.100000e+01,7.100000e+01,7.100000e+01,7.100000e+01,7.100000e+01,7.100000e+01,7.100000e+01,7.100000e+01
unique,1,11,9,9,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Indonesia,Biomass,Domestic Material Consumption,DMC,t,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,71,9,11,11,71,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,2.111467e+07,2.159929e+07,2.223830e+07,2.430086e+07,2.531110e+07,...,1.292307e+08,1.305636e+08,1.435817e+08,1.526187e+08,1.519374e+08,1.501051e+08,1.540103e+08,1.578586e+08,1.632970e+08,1.687295e+08
std,NaN,NaN,NaN,NaN,NaN,6.566372e+07,6.694815e+07,6.679661e+07,6.992460e+07,7.116401e+07,...,2.561289e+08,2.587126e+08,2.865400e+08,2.971474e+08,2.971540e+08,2.988215e+08,3.010154e+08,3.092861e+08,3.195099e+08,3.297641e+08
min,NaN,NaN,NaN,NaN,NaN,-2.991600e+07,-3.240000e+07,-4.042200e+07,-4.923700e+07,-5.436600e+07,...,-3.744456e+08,-3.757884e+08,-3.943283e+08,-4.310873e+08,-4.541371e+08,-4.024640e+08,-4.112473e+08,-4.147616e+08,-4.178914e+08,-4.205650e+08
25%,NaN,NaN,NaN,NaN,NaN,1.144000e+03,2.190500e+03,2.383000e+03,5.480000e+03,4.550000e+03,...,2.822416e+06,2.120257e+06,1.977828e+06,2.328572e+06,2.272524e+06,2.236350e+06,2.272154e+06,2.306693e+06,2.344134e+06,2.380503e+06
50%,NaN,NaN,NaN,NaN,NaN,4.507200e+05,4.761710e+05,6.383640e+05,7.522020e+05,1.372385e+06,...,1.394197e+07,1.199773e+07,2.290743e+07,3.189306e+07,2.320444e+07,2.304166e+07,2.329539e+07,2.427153e+07,2.525598e+07,2.587064e+07
75%,NaN,NaN,NaN,NaN,NaN,7.922553e+06,9.355232e+06,9.714212e+06,1.183495e+07,1.395212e+07,...,1.216276e+08,1.268897e+08,1.311419e+08,1.521756e+08,1.321305e+08,1.231148e+08,1.319918e+08,1.343343e+08,1.371746e+08,1.410732e+08
max,NaN,NaN,NaN,NaN,NaN,3.053356e+08,3.113206e+08,3.100243e+08,3.240890e+08,3.278117e+08,...,9.891682e+08,1.012912e+09,1.150967e+09,1.178197e+09,1.135947e+09,1.163256e+09,1.174788e+09,1.208317e+09,1.247094e+09,1.285324e+09

In [14]:
df_indo.isna().sum()

Country      0
Category     0
Flow name    0
Flow code    0
Flow unit    0
1970         0
1971         0
1972         0
1973         0
1974         0
1975         0
1976         0
1977         0
1978         0
1979         0
1980         0
1981         0
1982         0
1983         0
1984         0
1985         0
1986         0
1987         0
1988         0
1989         0
1990         0
1991         0
1992         0
1993         0
1994         0
1995         0
1996         0
1997         0
1998         0
1999         0
2000         0
2001         0
2002         0
2003         0
2004         0
2005         0
2006         0
2007         0
2008         0
2009         0
2010         0
2011         0
2012         0
2013         0
2014         0
2015         0
2016         0
2017         0
2018         0
2019         0
2020         0
2021         0
2022         0
2023         0
2024         0
dtype: int64

In [15]:
df_indo_columns = df_indo.columns
df_indo_columns

Index(['Country', 'Category', 'Flow name', 'Flow code', 'Flow unit', '1970',
       '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
       '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024'],
      dtype='object')

In [16]:
year_column = df_indo.iloc[:, 5:61].copy()
year_column

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
6291,303722628.0,310180900.0,308554892.0,320955700.0,325473002.0,316661300.0,321199879.0,323074281.0,339487838.0,340841972.0,...,959352667.0,9.792402e+08,1.117847e+09,1.140305e+09,1.099874e+09,1.128501e+09,1.137877e+09,1.170404e+09,1.208035e+09,1.245140e+09
6292,297595663.0,301374976.0,298520454.0,308839628.0,313317543.0,305933840.0,307858979.0,310175343.0,326060012.0,327307784.0,...,933677570.0,9.624759e+08,1.091764e+09,1.118812e+09,1.075626e+09,1.102175e+09,1.112869e+09,1.144885e+09,1.182138e+09,1.218854e+09
6293,305335559.0,311320612.0,310024294.0,324088988.0,327811727.0,318885277.0,324533356.0,326752509.0,343535395.0,344767613.0,...,989168206.0,1.012912e+09,1.150967e+09,1.178197e+09,1.135947e+09,1.163256e+09,1.174788e+09,1.208317e+09,1.247094e+09,1.285324e+09
6294,7739896.0,9945636.0,11503840.0,15249360.0,14494184.0,12951437.0,16674377.0,16577166.0,17475383.0,17459829.0,...,55490637.0,5.043632e+07,5.920353e+07,5.938490e+07,6.032141e+07,6.108143e+07,6.191926e+07,6.343148e+07,6.495548e+07,6.647008e+07
6295,1612931.0,1139712.0,1469402.0,3133288.0,2338725.0,2223977.0,3333477.0,3678228.0,4047557.0,3925641.0,...,29815539.0,3.367205e+07,3.311982e+07,3.789137e+07,3.607382e+07,3.475477e+07,3.691102e+07,3.791245e+07,3.905904e+07,4.018346e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6357,1144.0,0.0,0.0,754.0,1133.0,992.0,896.0,949.0,262.0,-110.0,...,-46424.0,-5.729100e+04,-4.588400e+04,-2.196600e+04,-1.956000e+04,-1.906000e+04,-1.964500e+04,-1.966900e+04,-1.956800e+04,-1.942700e+04
6358,1144.0,0.0,0.0,754.0,1133.0,995.0,1006.0,1063.0,830.0,564.0,...,402.0,9.600000e+01,5.960000e+02,6.613000e+03,2.310600e+04,2.280400e+04,2.320000e+04,2.386300e+04,2.464500e+04,2.541700e+04
6359,0.0,0.0,0.0,0.0,0.0,3.0,111.0,114.0,568.0,673.0,...,46825.0,5.738800e+04,4.648000e+04,2.858000e+04,4.266600e+04,4.186300e+04,4.284400e+04,4.353200e+04,4.421300e+04,4.484500e+04
6360,1144.0,0.0,0.0,754.0,1133.0,995.0,1006.0,1063.0,830.0,564.0,...,402.0,9.600000e+01,5.960000e+02,6.613000e+03,2.310600e+04,2.280400e+04,2.320000e+04,2.386300e+04,2.464500e+04,2.541700e+04
6361,1144.0,0.0,0.0,754.0,1133.0,992.0,896.0,949.0,262.0,-110.0,...,-46424.0,-5.729100e+04,-4.588400e+04,-2.196600e+04,-1.956000e+04,-1.906000e+04,-1.964500e+04,-1.966900e+04,-1.956800e+04,-1.942700e+04

In [30]:
import_export = pd.concat([import_flow, export_flow], axis=0)
import_export

,Country,Category,Flow name,Flow code,Flow unit,1970,1971,1972,1973,1974,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
6295,Indonesia,Biomass,Imports,IMP,t,1612931.0,1139712.0,1469402.0,3133288.0,2338725.0,...,29815539.0,33672048.0,33119822.0,37891367.0,36073822.0,34754772.0,36911023.0,37912450.0,39059040.0,40183464.0
6303,Indonesia,Excavated earthen materials (including soil) nec,Imports,IMP,t,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6309,Indonesia,Fossil fuels,Imports,IMP,t,0.0,16000.0,283000.0,201000.0,269000.0,...,21543000.0,23979894.0,22665884.0,22833242.0,19132487.0,23611557.0,23914947.0,24529419.0,25255985.0,25957529.0
6318,Indonesia,Metal ores,Imports,IMP,t,237442.0,191393.0,303008.0,1034715.0,1287720.0,...,18994985.0,19696044.0,15844699.0,16841552.0,17894332.0,17675348.0,18099024.0,18909021.0,19848020.0,20787350.0
6326,Indonesia,Mixed and complex products nec.,Imports,IMP,t,27807.0,31805.0,44934.0,69788.0,85188.0,...,12504245.0,11997729.0,48487613.0,55571162.0,47818363.0,47192345.0,48011984.0,49384758.0,51002873.0,52601584.0
6332,Indonesia,Non-metallic minerals,Imports,IMP,t,872292.0,476171.0,638364.0,752202.0,1372391.0,...,14142501.0,14965696.0,15694753.0,16258202.0,14472946.0,14505863.0,14923688.0,15804550.0,16891870.0,18003118.0
6340,Indonesia,Products from biomass,Imports,IMP,t,85670.0,93018.0,87737.0,137572.0,143977.0,...,3182753.0,3867271.0,4505946.0,4771894.0,4929046.0,4689795.0,4704311.0,4832835.0,4983993.0,5133263.0
6345,Indonesia,Products from fossil fuels,Imports,IMP,t,450720.0,887473.0,1160697.0,1321139.0,1587538.0,...,36904022.0,33287036.0,36589758.0,36677185.0,32855339.0,26757749.0,27147643.0,27626680.0,28177727.0,28715742.0
6350,Indonesia,Products from metals,Imports,IMP,t,249875.0,195376.0,228153.0,450612.0,423773.0,...,3755063.0,4240514.0,3955656.0,4657144.0,4545048.0,4472698.0,4544309.0,4613386.0,4688268.0,4761007.0
6355,Indonesia,Products from non-metallic minerals,Imports,IMP,t,1768659.0,1069384.0,1428644.0,1843203.0,2170848.0,...,13941971.0,11036511.0,9926073.0,11284773.0,11746512.0,11783682.0,12075547.0,12696903.0,13462406.0,14241237.0
6360,Indonesia,Waste for final treatment and disposal,Imports,IMP,t,1144.0,0.0,0.0,754.0,1133.0,...,402.0,96.0,596.0,6613.0,23106.0,22804.0,23200.0,23863.0,24645.0,25417.0
6294,Indonesia,Biomass,Exports,EXP,t,7739896.0,9945636.0,11503840.0,15249360.0,14494184.0,...,55490637.0,50436324.0,59203529.0,59384899.0,60321414.0,61081433.0,61919256.0,63431481.0,64955485.0,66470076.0
6302,Indonesia,Excavated earthen materials (including soil) nec,Exports,EXP,t,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6308,Indonesia,Fossil fuels,Exports,EXP,t,29916000.0,32416000.0,40705000.0,49438000.0,54635000.0,...,395988648.0,399768251.0,416994227.0,453920532.0,473269611.0,426075538.0,435162247.0,439291061.0,443147364.0,446522566.0
6317,Indonesia,Metal ores,Exports,EXP,t,1344049.0,1266928.0,1369362.0,1194952.0,1648739.0,...,8636891.0,9996955.0,15186916.0,37056912.0,58612456.0,57576474.0,60948168.0,62818172.0,64901578.0,67039254.0
6325,Indonesia,Mixed and complex products nec.,Exports,EXP,t,438.0,4180.0,3477.0,10206.0,6898.0,...,2942619.0,2959367.0,25580185.0,23678099.0,24613925.0,24150688.0,24716598.0,25113225.0,25505929.0,25870643.0
6331,Indonesia,Non-metallic minerals,Exports,EXP,t,600.0,25.0,36.0,63.0,6.0,...,11440288.0,13695158.0,10565575.0,10433413.0,9531803.0,9375315.0,9794341.0,10236151.0,10660481.0,11068358.0
6339,Indonesia,Products from biomass,Exports,EXP,t,50638.0,56649.0,61849.0,62535.0,84796.0,...,11054780.0,11215206.0,11843079.0,14496598.0,12491198.0,12504712.0,13020700.0,13228667.0,13421730.0,13601549.0
6344,Indonesia,Products from fossil fuels,Exports,EXP,t,941000.0,1600000.0,4564000.0,5536000.0,4770000.0,...,5024175.0,5050957.0,4626198.0,4664058.0,4856577.0,4186215.0,4214418.0,4232285.0,4259060.0,4245749.0
6349,Indonesia,Products from metals,Exports,EXP,t,0.0,201.0,1289.0,0.0,15.0,...,1356978.0,1501060.0,1368371.0,1399511.0,1553184.0,1535915.0,1590821.0,1620770.0,1653785.0,1687249.0
6354,Indonesia,Products from non-metallic minerals,Exports,EXP,t,0.0,10.0,4.0,8.0,2202.0,...,8171999.0,10026001.0,10856860.0,15580858.0,16622832.0,16460715.0,16900223.0,17355183.0,17783658.0,18188206.0
6359,Indonesia,Waste for final treatment and disposal,Exports,EXP,t,0.0,0.0,0.0,0.0,0.0,...,46825.0,57388.0,46480.0,28580.0,42666.0,41863.0,42844.0,43532.0,44213.0,44845.0

In [31]:
fossil_export_import = pd.concat([fossil_import, fossil_export], axis=0)
fossil_export_import

,Country,Category,Flow name,Flow code,Flow unit,1970,1971,1972,1973,1974,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
6309,Indonesia,Fossil fuels,Imports,IMP,t,0.0,16000.0,283000.0,201000.0,269000.0,...,21543000.0,23979894.0,22665884.0,22833242.0,19132487.0,23611557.0,23914947.0,24529419.0,25255985.0,25957529.0
6308,Indonesia,Fossil fuels,Exports,EXP,t,29916000.0,32416000.0,40705000.0,49438000.0,54635000.0,...,395988648.0,399768251.0,416994227.0,453920532.0,473269611.0,426075538.0,435162247.0,439291061.0,443147364.0,446522566.0

In [32]:
fossil_export_import.to_csv('fossil_export_import_indonesia.csv', index=False)