In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
csv_file = 'mfa4_export.csv'# Replace with your CSV file path
df = pd.read_csv(csv_file)
df

,Country,Category,Flow name,Flow code,Flow unit,1970,1971,1972,1973,1974,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,Biomass,Domestic Extraction,DE,t,29427854.0,28777035.0,27200896.0,29147772.0,30519158.0,...,37406375.0,37961488.0,35542253.0,33625557.0,39501360.0,41190154.0,37576686.0,37891437.0,38353304.0,38628527.0
1,Afghanistan,Biomass,Domestic Material Consumption,DMC,t,29476560.0,29136965.0,27290656.0,29112673.0,30433539.0,...,40423146.0,41655757.0,40992559.0,38552083.0,43433438.0,45294467.0,39730808.0,40083922.0,40596386.0,40905900.0
2,Afghanistan,Biomass,Domestic Material Input,DMI,t,29617873.0,29282898.0,27485608.0,29306247.0,30656605.0,...,40740301.0,42111457.0,41553874.0,39515927.0,44428717.0,46059807.0,40992155.0,41370148.0,41905797.0,42238460.0
3,Afghanistan,Biomass,Exports,EXP,t,141313.0,145933.0,194952.0,193574.0,223066.0,...,317155.0,455700.0,561315.0,963844.0,995279.0,765341.0,1261347.0,1286226.0,1309411.0,1332559.0
4,Afghanistan,Biomass,Imports,IMP,t,190019.0,505863.0,284712.0,158475.0,137447.0,...,3333926.0,4149969.0,6011621.0,5890371.0,4927357.0,4869653.0,3415470.0,3478710.0,3552492.0,3609933.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15571,Zimbabwe,Waste for final treatment and disposal,Domestic Material Consumption,DMC,t,0.0,0.0,0.0,0.0,0.0,...,134.0,-153.0,-911.0,125.0,137.0,137.0,140.0,144.0,140.0,148.0
15572,Zimbabwe,Waste for final treatment and disposal,Domestic Material Input,DMI,t,0.0,0.0,0.0,0.0,0.0,...,690.0,540.0,236.0,379.0,436.0,425.0,442.0,453.0,456.0,471.0
15573,Zimbabwe,Waste for final treatment and disposal,Exports,EXP,t,0.0,0.0,0.0,0.0,0.0,...,555.0,693.0,1147.0,254.0,299.0,289.0,302.0,309.0,316.0,323.0
15574,Zimbabwe,Waste for final treatment and disposal,Imports,IMP,t,0.0,0.0,0.0,0.0,0.0,...,690.0,540.0,236.0,379.0,436.0,425.0,442.0,453.0,456.0,471.0
15575,Zimbabwe,Waste for final treatment and disposal,Physical Trade Balance,PTB,t,0.0,0.0,0.0,0.0,0.0,...,134.0,-153.0,-911.0,125.0,137.0,137.0,140.0,144.0,140.0,148.0

In [5]:
df.shape

(15576, 60)

In [6]:
df.columns

Index(['Country', 'Category', 'Flow name', 'Flow code', 'Flow unit', '1970',
       '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
       '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024'],
      dtype='object')

In [15]:
df_indo = df[df['Country'] == 'Indonesia'].copy()
df_indo

,Country,Category,Flow name,Flow code,Flow unit,1970,1971,1972,1973,1974,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
6291,Indonesia,Biomass,Domestic Extraction,DE,t,303722628.0,310180900.0,308554892.0,320955700.0,325473002.0,...,959352667.0,9.792402e+08,1.117847e+09,1.140305e+09,1.099874e+09,1.128501e+09,1.137877e+09,1.170404e+09,1.208035e+09,1.245140e+09
6292,Indonesia,Biomass,Domestic Material Consumption,DMC,t,297595663.0,301374976.0,298520454.0,308839628.0,313317543.0,...,933677570.0,9.624759e+08,1.091764e+09,1.118812e+09,1.075626e+09,1.102175e+09,1.112869e+09,1.144885e+09,1.182138e+09,1.218854e+09
6293,Indonesia,Biomass,Domestic Material Input,DMI,t,305335559.0,311320612.0,310024294.0,324088988.0,327811727.0,...,989168206.0,1.012912e+09,1.150967e+09,1.178197e+09,1.135947e+09,1.163256e+09,1.174788e+09,1.208317e+09,1.247094e+09,1.285324e+09
6294,Indonesia,Biomass,Exports,EXP,t,7739896.0,9945636.0,11503840.0,15249360.0,14494184.0,...,55490637.0,5.043632e+07,5.920353e+07,5.938490e+07,6.032141e+07,6.108143e+07,6.191926e+07,6.343148e+07,6.495548e+07,6.647008e+07
6295,Indonesia,Biomass,Imports,IMP,t,1612931.0,1139712.0,1469402.0,3133288.0,2338725.0,...,29815539.0,3.367205e+07,3.311982e+07,3.789137e+07,3.607382e+07,3.475477e+07,3.691102e+07,3.791245e+07,3.905904e+07,4.018346e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6357,Indonesia,Waste for final treatment and disposal,Domestic Material Consumption,DMC,t,1144.0,0.0,0.0,754.0,1133.0,...,-46424.0,-5.729100e+04,-4.588400e+04,-2.196600e+04,-1.956000e+04,-1.906000e+04,-1.964500e+04,-1.966900e+04,-1.956800e+04,-1.942700e+04
6358,Indonesia,Waste for final treatment and disposal,Domestic Material Input,DMI,t,1144.0,0.0,0.0,754.0,1133.0,...,402.0,9.600000e+01,5.960000e+02,6.613000e+03,2.310600e+04,2.280400e+04,2.320000e+04,2.386300e+04,2.464500e+04,2.541700e+04
6359,Indonesia,Waste for final treatment and disposal,Exports,EXP,t,0.0,0.0,0.0,0.0,0.0,...,46825.0,5.738800e+04,4.648000e+04,2.858000e+04,4.266600e+04,4.186300e+04,4.284400e+04,4.353200e+04,4.421300e+04,4.484500e+04
6360,Indonesia,Waste for final treatment and disposal,Imports,IMP,t,1144.0,0.0,0.0,754.0,1133.0,...,402.0,9.600000e+01,5.960000e+02,6.613000e+03,2.310600e+04,2.280400e+04,2.320000e+04,2.386300e+04,2.464500e+04,2.541700e+04
6361,Indonesia,Waste for final treatment and disposal,Physical Trade Balance,PTB,t,1144.0,0.0,0.0,754.0,1133.0,...,-46424.0,-5.729100e+04,-4.588400e+04,-2.196600e+04,-1.956000e+04,-1.906000e+04,-1.964500e+04,-1.966900e+04,-1.956800e+04,-1.942700e+04

In [10]:
category = set(df_indo['Category'])
category

{'Biomass',
 'Excavated earthen materials (including soil) nec',
 'Fossil fuels',
 'Metal ores',
 'Mixed and complex products nec.',
 'Non-metallic minerals',
 'Products from biomass',
 'Products from fossil fuels',
 'Products from metals',
 'Products from non-metallic minerals',
 'Waste for final treatment and disposal'}

In [14]:
export = df_indo[df_indo['Flow name']=='Exports']
export

,Country,Category,Flow name,Flow code,Flow unit,1970,1971,1972,1973,1974,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
6294,Indonesia,Biomass,Exports,EXP,t,7739896.0,9945636.0,11503840.0,15249360.0,14494184.0,...,55490637.0,50436324.0,59203529.0,59384899.0,60321414.0,61081433.0,61919256.0,63431481.0,64955485.0,66470076.0
6302,Indonesia,Excavated earthen materials (including soil) nec,Exports,EXP,t,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6308,Indonesia,Fossil fuels,Exports,EXP,t,29916000.0,32416000.0,40705000.0,49438000.0,54635000.0,...,395988648.0,399768251.0,416994227.0,453920532.0,473269611.0,426075538.0,435162247.0,439291061.0,443147364.0,446522566.0
6317,Indonesia,Metal ores,Exports,EXP,t,1344049.0,1266928.0,1369362.0,1194952.0,1648739.0,...,8636891.0,9996955.0,15186916.0,37056912.0,58612456.0,57576474.0,60948168.0,62818172.0,64901578.0,67039254.0
6325,Indonesia,Mixed and complex products nec.,Exports,EXP,t,438.0,4180.0,3477.0,10206.0,6898.0,...,2942619.0,2959367.0,25580185.0,23678099.0,24613925.0,24150688.0,24716598.0,25113225.0,25505929.0,25870643.0
6331,Indonesia,Non-metallic minerals,Exports,EXP,t,600.0,25.0,36.0,63.0,6.0,...,11440288.0,13695158.0,10565575.0,10433413.0,9531803.0,9375315.0,9794341.0,10236151.0,10660481.0,11068358.0
6339,Indonesia,Products from biomass,Exports,EXP,t,50638.0,56649.0,61849.0,62535.0,84796.0,...,11054780.0,11215206.0,11843079.0,14496598.0,12491198.0,12504712.0,13020700.0,13228667.0,13421730.0,13601549.0
6344,Indonesia,Products from fossil fuels,Exports,EXP,t,941000.0,1600000.0,4564000.0,5536000.0,4770000.0,...,5024175.0,5050957.0,4626198.0,4664058.0,4856577.0,4186215.0,4214418.0,4232285.0,4259060.0,4245749.0
6349,Indonesia,Products from metals,Exports,EXP,t,0.0,201.0,1289.0,0.0,15.0,...,1356978.0,1501060.0,1368371.0,1399511.0,1553184.0,1535915.0,1590821.0,1620770.0,1653785.0,1687249.0
6354,Indonesia,Products from non-metallic minerals,Exports,EXP,t,0.0,10.0,4.0,8.0,2202.0,...,8171999.0,10026001.0,10856860.0,15580858.0,16622832.0,16460715.0,16900223.0,17355183.0,17783658.0,18188206.0
6359,Indonesia,Waste for final treatment and disposal,Exports,EXP,t,0.0,0.0,0.0,0.0,0.0,...,46825.0,57388.0,46480.0,28580.0,42666.0,41863.0,42844.0,43532.0,44213.0,44845.0

In [16]:
df_indo.info

<bound method DataFrame.info of         Country                                Category  \
6291  Indonesia                                 Biomass
6292  Indonesia                                 Biomass
6293  Indonesia                                 Biomass
6294  Indonesia                                 Biomass
6295  Indonesia                                 Biomass
...         ...                                     ...
6357  Indonesia  Waste for final treatment and disposal
6358  Indonesia  Waste for final treatment and disposal
6359  Indonesia  Waste for final treatment and disposal
6360  Indonesia  Waste for final treatment and disposal
6361  Indonesia  Waste for final treatment and disposal

                          Flow name Flow code Flow unit         1970  \
6291            Domestic Extraction        DE         t  303722628.0
6292  Domestic Material Consumption       DMC         t  297595663.0
6293        Domestic Material Input       DMI         t  305335559.0
6294                        Exports       EXP         t    7739896.0
6295                        Imports       IMP         t    1612931.0
...                             ...       ...       ...          ...
6357  Domestic Material Consumption       DMC         t       1144.0
6358        Domestic Material Input       DMI         t       1144.0
6359                        Exports       EXP         t          0.0
6360                        Imports       IMP         t       1144.0
6361         Physical Trade Balance       PTB         t       1144.0

             1971         1972         1973         1974  ...         2015  \
6291  310180900.0  308554892.0  320955700.0  325473002.0  ...  959352667.0
6292  301374976.0  298520454.0  308839628.0  313317543.0  ...  933677570.0
6293  311320612.0  310024294.0  324088988.0  327811727.0  ...  989168206.0
6294    9945636.0   11503840.0   15249360.0   14494184.0  ...   55490637.0
6295    1139712.0    1469402.0    3133288.0    2338725.0  ...   29815539.0
...           ...          ...          ...          ...  ...          ...
6357          0.0          0.0        754.0       1133.0  ...     -46424.0
6358          0.0          0.0        754.0       1133.0  ...        402.0
6359          0.0          0.0          0.0          0.0  ...      46825.0
6360          0.0          0.0        754.0       1133.0  ...        402.0
6361          0.0          0.0        754.0       1133.0  ...     -46424.0

              2016          2017          2018          2019          2020  \
6291  9.792402e+08  1.117847e+09  1.140305e+09  1.099874e+09  1.128501e+09
6292  9.624759e+08  1.091764e+09  1.118812e+09  1.075626e+09  1.102175e+09
6293  1.012912e+09  1.150967e+09  1.178197e+09  1.135947e+09  1.163256e+09
6294  5.043632e+07  5.920353e+07  5.938490e+07  6.032141e+07  6.108143e+07
6295  3.367205e+07  3.311982e+07  3.789137e+07  3.607382e+07  3.475477e+07
...            ...           ...           ...           ...           ...
6357 -5.729100e+04 -4.588400e+04 -2.196600e+04 -1.956000e+04 -1.906000e+04
6358  9.600000e+01  5.960000e+02  6.613000e+03  2.310600e+04  2.280400e+04
6359  5.738800e+04  4.648000e+04  2.858000e+04  4.266600e+04  4.186300e+04
6360  9.600000e+01  5.960000e+02  6.613000e+03  2.310600e+04  2.280400e+04
6361 -5.729100e+04 -4.588400e+04 -2.196600e+04 -1.956000e+04 -1.906000e+04

              2021          2022          2023          2024
6291  1.137877e+09  1.170404e+09  1.208035e+09  1.245140e+09
6292  1.112869e+09  1.144885e+09  1.182138e+09  1.218854e+09
6293  1.174788e+09  1.208317e+09  1.247094e+09  1.285324e+09
6294  6.191926e+07  6.343148e+07  6.495548e+07  6.647008e+07
6295  3.691102e+07  3.791245e+07  3.905904e+07  4.018346e+07
...            ...           ...           ...           ...
6357 -1.964500e+04 -1.966900e+04 -1.956800e+04 -1.942700e+04
6358  2.320000e+04  2.386300e+04  2.464500e+04  2.541700e+04
6359  4.284400e+04  4.353200e+04  4.421300e+04  4.484500e+04
6360  2.320000e+04  2.386300e+04  2.464500e+04  2.541700e+04
6361 -1.964500e+04 -1.966900e+04 -1.956800e+04 -1.942700e+04

[71 rows x 60 columns]>

In [17]:
df_indo.describe(include='all')

,Country,Category,Flow name,Flow code,Flow unit,1970,1971,1972,1973,1974,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
count,71,71,71,71,71,7.100000e+01,7.100000e+01,7.100000e+01,7.100000e+01,7.100000e+01,...,7.100000e+01,7.100000e+01,7.100000e+01,7.100000e+01,7.100000e+01,7.100000e+01,7.100000e+01,7.100000e+01,7.100000e+01,7.100000e+01
unique,1,11,9,9,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Indonesia,Biomass,Domestic Material Consumption,DMC,t,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,71,9,11,11,71,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,2.111467e+07,2.159929e+07,2.223830e+07,2.430086e+07,2.531110e+07,...,1.292307e+08,1.305636e+08,1.435817e+08,1.526187e+08,1.519374e+08,1.501051e+08,1.540103e+08,1.578586e+08,1.632970e+08,1.687295e+08
std,NaN,NaN,NaN,NaN,NaN,6.566372e+07,6.694815e+07,6.679661e+07,6.992460e+07,7.116401e+07,...,2.561289e+08,2.587126e+08,2.865400e+08,2.971474e+08,2.971540e+08,2.988215e+08,3.010154e+08,3.092861e+08,3.195099e+08,3.297641e+08
min,NaN,NaN,NaN,NaN,NaN,-2.991600e+07,-3.240000e+07,-4.042200e+07,-4.923700e+07,-5.436600e+07,...,-3.744456e+08,-3.757884e+08,-3.943283e+08,-4.310873e+08,-4.541371e+08,-4.024640e+08,-4.112473e+08,-4.147616e+08,-4.178914e+08,-4.205650e+08
25%,NaN,NaN,NaN,NaN,NaN,1.144000e+03,2.190500e+03,2.383000e+03,5.480000e+03,4.550000e+03,...,2.822416e+06,2.120257e+06,1.977828e+06,2.328572e+06,2.272524e+06,2.236350e+06,2.272154e+06,2.306693e+06,2.344134e+06,2.380503e+06
50%,NaN,NaN,NaN,NaN,NaN,4.507200e+05,4.761710e+05,6.383640e+05,7.522020e+05,1.372385e+06,...,1.394197e+07,1.199773e+07,2.290743e+07,3.189306e+07,2.320444e+07,2.304166e+07,2.329539e+07,2.427153e+07,2.525598e+07,2.587064e+07
75%,NaN,NaN,NaN,NaN,NaN,7.922553e+06,9.355232e+06,9.714212e+06,1.183495e+07,1.395212e+07,...,1.216276e+08,1.268897e+08,1.311419e+08,1.521756e+08,1.321305e+08,1.231148e+08,1.319918e+08,1.343343e+08,1.371746e+08,1.410732e+08
max,NaN,NaN,NaN,NaN,NaN,3.053356e+08,3.113206e+08,3.100243e+08,3.240890e+08,3.278117e+08,...,9.891682e+08,1.012912e+09,1.150967e+09,1.178197e+09,1.135947e+09,1.163256e+09,1.174788e+09,1.208317e+09,1.247094e+09,1.285324e+09

In [18]:
df_indo.isna().sum()

Country      0
Category     0
Flow name    0
Flow code    0
Flow unit    0
1970         0
1971         0
1972         0
1973         0
1974         0
1975         0
1976         0
1977         0
1978         0
1979         0
1980         0
1981         0
1982         0
1983         0
1984         0
1985         0
1986         0
1987         0
1988         0
1989         0
1990         0
1991         0
1992         0
1993         0
1994         0
1995         0
1996         0
1997         0
1998         0
1999         0
2000         0
2001         0
2002         0
2003         0
2004         0
2005         0
2006         0
2007         0
2008         0
2009         0
2010         0
2011         0
2012         0
2013         0
2014         0
2015         0
2016         0
2017         0
2018         0
2019         0
2020         0
2021         0
2022         0
2023         0
2024         0
dtype: int64

In [19]:
df_indo_columns = df_indo.columns
df_indo_columns

Index(['Country', 'Category', 'Flow name', 'Flow code', 'Flow unit', '1970',
       '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
       '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024'],
      dtype='object')

In [ ]:
year_column = df_indo.iloc[:, 5:61].copy()
year_column

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
6291,303722628.0,310180900.0,308554892.0,320955700.0,325473002.0,316661300.0,321199879.0,323074281.0,339487838.0,340841972.0,...,959352667.0,9.792402e+08,1.117847e+09,1.140305e+09,1.099874e+09,1.128501e+09,1.137877e+09,1.170404e+09,1.208035e+09,1.245140e+09
6292,297595663.0,301374976.0,298520454.0,308839628.0,313317543.0,305933840.0,307858979.0,310175343.0,326060012.0,327307784.0,...,933677570.0,9.624759e+08,1.091764e+09,1.118812e+09,1.075626e+09,1.102175e+09,1.112869e+09,1.144885e+09,1.182138e+09,1.218854e+09
6293,305335559.0,311320612.0,310024294.0,324088988.0,327811727.0,318885277.0,324533356.0,326752509.0,343535395.0,344767613.0,...,989168206.0,1.012912e+09,1.150967e+09,1.178197e+09,1.135947e+09,1.163256e+09,1.174788e+09,1.208317e+09,1.247094e+09,1.285324e+09
6294,7739896.0,9945636.0,11503840.0,15249360.0,14494184.0,12951437.0,16674377.0,16577166.0,17475383.0,17459829.0,...,55490637.0,5.043632e+07,5.920353e+07,5.938490e+07,6.032141e+07,6.108143e+07,6.191926e+07,6.343148e+07,6.495548e+07,6.647008e+07
6295,1612931.0,1139712.0,1469402.0,3133288.0,2338725.0,2223977.0,3333477.0,3678228.0,4047557.0,3925641.0,...,29815539.0,3.367205e+07,3.311982e+07,3.789137e+07,3.607382e+07,3.475477e+07,3.691102e+07,3.791245e+07,3.905904e+07,4.018346e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6357,1144.0,0.0,0.0,754.0,1133.0,992.0,896.0,949.0,262.0,-110.0,...,-46424.0,-5.729100e+04,-4.588400e+04,-2.196600e+04,-1.956000e+04,-1.906000e+04,-1.964500e+04,-1.966900e+04,-1.956800e+04,-1.942700e+04
6358,1144.0,0.0,0.0,754.0,1133.0,995.0,1006.0,1063.0,830.0,564.0,...,402.0,9.600000e+01,5.960000e+02,6.613000e+03,2.310600e+04,2.280400e+04,2.320000e+04,2.386300e+04,2.464500e+04,2.541700e+04
6359,0.0,0.0,0.0,0.0,0.0,3.0,111.0,114.0,568.0,673.0,...,46825.0,5.738800e+04,4.648000e+04,2.858000e+04,4.266600e+04,4.186300e+04,4.284400e+04,4.353200e+04,4.421300e+04,4.484500e+04
6360,1144.0,0.0,0.0,754.0,1133.0,995.0,1006.0,1063.0,830.0,564.0,...,402.0,9.600000e+01,5.960000e+02,6.613000e+03,2.310600e+04,2.280400e+04,2.320000e+04,2.386300e+04,2.464500e+04,2.541700e+04
6361,1144.0,0.0,0.0,754.0,1133.0,992.0,896.0,949.0,262.0,-110.0,...,-46424.0,-5.729100e+04,-4.588400e+04,-2.196600e+04,-1.956000e+04,-1.906000e+04,-1.964500e+04,-1.966900e+04,-1.956800e+04,-1.942700e+04